p {
  border: 10px solid black;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 16px;
  font-size: 25px;
  padding: 12px 25px;
  background-color: lightgray;
}
