html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#principal {
  width: 100vw;
  height: 100vh;
  background-image: url(./image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#conteudo {
  width: 280px;
  padding: 200px 0 0 100px;
}

#texto {
  border: 10px solid orange;
  border-radius: 25px;
  padding: 20px 12px;
  box-shadow: 4px 4px 10px 2px black, 2px 2px 4px 2px black inset;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 28px;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  padding: 6px;
}
